html {
  box-sizing: border-box;
  background: salmon;
  font-family: "Edu QLD Beginner", cursive;
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 14px 7px 20px 2px rgb(2 2 2 / 17%);
  font-family: "Edu QLD Beginner", cursive;
}
input::placeholder {
  font-family: "Edu QLD Beginner", cursive;
}
.search-form {
  max-width: 400px;
  margin: 50px auto;
}
input:focus-visible {
  outline: 0;
}
input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  font-size: 40px;
}
li {
  list-style-type: none;
}
.suggestions li {
  left: -6%;
  position: relative;
  box-shadow: 14px 7px 20px 2px rgb(2 2 2 / 17%);
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.alignCenter {
  text-align: center;
}
.highlight {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  input.search {
    width: 100%;
    left: 0%;
  }
}
